<div layout="row" layout-margin layout-align="end center">
	<md-date-range 
	custom-templates="customTemplates"
	ng-model="pickerModel"
	auto-confirm="true"
	show-template="false"
	one-panel="true"
	></md-date-range>
	<md-button class="md-button" aria-label="Settings" ng-click="orderFilter()">
		Filter
	</md-button>
</div>

<div layout="column" md-whiteframe="3" layout-margin layout-align="center center" flex ng-hide="loader_circle" class="white-back loading-text-div">
	<md-progress-circular md-mode="indeterminate"  md-diameter="100"></md-progress-circular>
	<span>Loading orders...</span>
</div>

<div layout="column"  ng-hide="loaded_content">
	<div layout="row" layout-wrap="">
		<md-card ng-repeat="id in orders" md-theme="default" md-theme-watch flex="30" layout-alignment="stretch">
			<md-card-title>
				<md-card-title-text>
					<span class="">Order ID</span>
					<span class="md-subhead">{{id}}</span>
				</md-card-title-text>
				<md-card-title-media>
					<div class="md-media-sm card-media">
						<i class="material-icons" style="font-size: 72px; color: #ccc;">&#xE8CC;</i>
					</div>
				</md-card-title-media>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center" class="dashboard-card-actions">
				
				<md-menu>
					<md-button class="md-icon-button" aria-label="Settings" ng-click="$mdOpenMenu($event)">
						<md-tooltip md-direction="top" md-visible="tooltipVisible">More</md-tooltip>
						<i class="material-icons">&#xE5CF;</i>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="(key, option) in options" >
							<md-button ng-click="optionTrigger(key)">
								{{option.option_name}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>

				<md-button class="md-icon-button" aria-label="Settings" ng-click="viewOrder(id)">
					<md-tooltip md-direction="top" md-visible="tooltipVisible">View Order</md-tooltip>
					<i class="material-icons">&#xE417;</i>
				</md-button>
			</md-card-actions>
		</md-card>
	</div>

</div>
