<div flex="60" layout="row" layout-align="center center">
    <md-dialog aria-label="Login dialog" flex="45">

        <div layout="row" layout-align="center center" ng-show="loader" style="width: 368px; height: 300px;">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div ng-hide="dialog">
            <form name="OtpForm" ng-submit="otp_submit()" novalidate="">
                <md-list flex="">
                    <md-subheader class="md-no-sticky">
                        OTP Varification
                    </md-subheader>
                    <md-list-item>
                        <md-input-container flex="100">
                            <label for="otp">
                                OTP
                            </label>
                            <input name="otp" ng-model="otp" required="" type="text" ng-maxlength="6" ng-pattern="/^[0-9]*$/"/>

                            <div class="hint">
                                <span class="help-block" ng-show="OtpForm.otp.$error.pattern || OtpForm.otp.$error.maxlength && (!OtpForm.$pristine || OtpForm.$submitted)">OTP must be numeric & 6 digits</span><br>
                            </div>
                            

                        </md-input-container>
                    </md-list-item>
                </md-list>
                <div layout="row" layout-align="end center">

                    <md-button ng-click="closeDialog()" type="button">
                        Cancel
                    </md-button>
                    
                    <md-button ng-click="OtpForm.$valid && send_otp_varify()" type="button" ng-disabled="isDisabled || OtpForm.$invalid">
                        Varify
                    </md-button>
                </div>
            </form>
        </div>
    </md-dialog>
</div>