<div flex="60" layout="row" layout-align="center center">
    <md-dialog aria-label="Login dialog" flex="45">

        <div layout="row" layout-align="center center" ng-show="loader" style="width: 368px; height: 300px;">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div ng-hide="dialog">
            <form name="ChangePasswordForm" ng-submit="ChangePasswordSubmit()" novalidate="">
                <md-list flex="">
                    <md-subheader class="md-no-sticky">
                        Generate Password
                    </md-subheader>
                    <md-list-item>
                        <md-input-container flex="100">
                            <label for="new_password">
                                New Password
                            </label>
                            <input name="new_password" ng-model="new_password" required="" type="password" ng-minlength="6" />

                            <div class="hint">
                                Password should be minimum 6 character.
                            </div>


                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container flex="100">
                            <label for="confirm_password">
                                Confirm Password
                            </label>
                            <input name="confirm_password" ng-model="confirm_password" required="" type="password" ng-minlength="6"/>


                        </md-input-container>
                    </md-list-item>
                </md-list>
                <div layout="row" layout-align="end center">
                    <md-button ng-click="closeDialog()" type="button">
                        Cancel
                    </md-button>
                    <md-button ng-click="ChangePasswordForm.$valid && change_pw()"ype="button" ng-disabled="isDisabled || ChangePasswordForm.$invalid">
                        Submit
                    </md-button>
                </div>
            </form>
        </div>
    </md-dialog>
</div>